<p>
  <%= image_url "mac_steps/about_this_mac.png" %>
  <%= image_tag "mac_steps/about_this_mac.png" %>
</p>

<p>
  <p>
    <%= image_url "mac_steps/apple.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/apple.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/applications_folder.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/applications_folder.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/applications_utilities_terminal.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/applications_utilities_terminal.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/click_on_the_apple_icon.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/click_on_the_apple_icon.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/command_line_seq_command.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/command_line_seq_command.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/congrats_sam.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/congrats_sam.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/installer_wizard.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/installer_wizard.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/linux-logo.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/linux-logo.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/microsoft.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/microsoft.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/rails_one_click.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/rails_one_click.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/select_about_this_mac.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/select_about_this_mac.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/spotlight_search_for_terminal.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/spotlight_search_for_terminal.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/terminal.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/terminal.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "mac_steps/ubuntu.png" %>
  </p>
  <p>
    <%= image_tag "mac_steps/ubuntu.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "bg.jpg" %>
  </p>
  <p>
    <%= image_tag "bg.jpg" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "bg2.jpg" %>
  </p>
  <p>
    <%= image_tag "bg2.jpg" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "glyphicons-halflings-white.png" %>
  </p>
  <p>
    <%= image_tag "glyphicons-halflings-white.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "glyphicons-halflings.png" %>
  </p>
  <p>
    <%= image_tag "glyphicons-halflings.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "macbook-air-1.png" %>
  </p>
  <p>
    <%= image_tag "macbook-air-1.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "macbook-air-2.png" %>
  </p>
  <p>
    <%= image_tag "macbook-air-2.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "macbook-air-3.png" %>
  </p>
  <p>
    <%= image_tag "macbook-air-3.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "macbook-air.png" %>
  </p>
  <p>
    <%= image_tag "macbook-air.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "macbook.png" %>
  </p>
  <p>
    <%= image_tag "macbook.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "omr-logo.png" %>
  </p>
  <p>
    <%= image_tag "omr-logo.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "railsinstaller-mac-windows.png" %>
  </p>
  <p>
    <%= image_tag "railsinstaller-mac-windows.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "sam.png" %>
  </p>
  <p>
    <%= image_tag "sam.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "sublime_downloaded.png" %>
  </p>
  <p>
    <%= image_tag "sublime_downloaded.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "sublime_drag_drop.png" %>
  </p>
  <p>
    <%= image_tag "sublime_drag_drop.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "sublime_website.png" %>
  </p>
  <p>
    <%= image_tag "sublime_website.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "windows-gitbash.png" %>
  </p>
  <p>
    <%= image_tag "windows-gitbash.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "xcode_command_line_tool.png" %>
  </p>
  <p>
    <%= image_tag "xcode_command_line_tool.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "xcode_finder.png" %>
  </p>
  <p>
    <%= image_tag "xcode_finder.png" %>
  </p>
</p>

<p>
  <p>
    <%= image_url "xcode_preferences.png" %>
  </p>
  <p>
    <%= image_tag "xcode_preferences.png" %>
  </p>
</p>