<section class="instructions">
  <%= @step.step_content.content %>
</section>

<% if @step.first_step %>
  <section class="center prompt row">
    <div class="apple col-sm-4">
      <img src="mac_steps/apple.png" class="choose_your_os">
      <br>
      <link rel="alternate" href="<%= steps_path(next_step('Mac')) %>" class="option">
    </div>
    <div class="windows col-sm-4">
    <img src="mac_steps/microsoft.png" class="choose_your_os">
      <br>
      <link rel="alternate" href="<%= steps_path(next_step('Windows')) %>" class="option">
    </div>
    <div class="other col-sm-4">
      <img src="mac_steps/linux-logo.jpg" class="choose_your_os">
      <br>
      <link rel="alternate" href="<%= steps_path(next_step('Other')) %>" class="option">
    </div>
  </section>
<% end %>

<section class="prompt center">
  <% if @step.final_step? %>

  <% elsif @step.next_steps.count == 1 %>
    <%= link_to "Previous Step", step_path(@step.previous_step), class:"option" %>
    <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
    <%= link_to "Next Step",     step_path(@step.next_step),     class: "option" %>
  <% else %>
  <h2>
    <% @step.prompt %>
  </h2>
  <% @step.next_steps.each do |step| %>
    <% button_to  step.button_text, step_path(step) %>
  <% end %>
     <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
  <% end %>
</section>

<div id="trouble" class="collapse out note">
  <div class="disqus">
    <%= render 'layouts/disqus' %>
  </div>
</div>

<% if @step.mixpanel %>
<script>
  mixpanel.track(@step.mixpanel);
</script>
<% end %>