<section class="instructions">
  <%= @step.content.html_safe %>
</section>


<% if @step.final_step? %>
  <section class="prompt center">
    <%= link_to "Previous Step", step_url(@previous_step.first), class:"option" %>
  </section>

<% elsif @step.first_step? %>
  <section class="center prompt row">
    <div class="apple col-sm-4">
      <%= image_tag("mac_steps/apple.png", class:"choose_your_os") %>
      <br>
      <%= button_to @mac.button_text, save_user_choice_url(@mac), class: "option" %>
    </div>
    <div class="windows col-sm-4">
      <%= image_tag("mac_steps/microsoft.png", class: "choose_your_os") %>
      <br>
      <%= button_to @windows.button_text, save_user_choice_url(@windows), class: "option" %>
    </div>
    <div class="other col-sm-4">
      <%= image_tag("mac_steps/linux-logo.jpg", class: "choose_your_os") %>
      <br>
      <%= button_to @other.button_text, save_user_choice_url(@other), class: "option" %>
    </div>
  </section>

<% elsif @next_steps.count == 1 %>
  <section class="prompt center">
    <%= link_to "Previous Step", step_url(@previous_step.first), class: "option" %>
    <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>

    <%= link_to "Next Step",     step_url(@next_steps.first),     class: "option" %>

  </section>
<% else %>
  <section class="prompt center">
    <h2>
      <% if @step.prompt %>
        <%= @step.prompt %>
      <% end %>
    </h2>
    <% if @step.save_user_choice  %>
      <% @next_edges.each do |edge| %>
        <%= button_to edge.button_text, save_user_choice_url(edge), class: "option" %>
      <% end %>


    <% else %>      
      <% @next_edges.each do |edge| %>
        <%= link_to  edge.button_text, step_url(edge.next_step), class: "option" %>
      <% end %>
    <% end %>
       <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
   </section>
<% end %>

<% #fail %>

<div id="trouble" class="collapse out note">
  <% if @step.try('trouble') %>
    <%= @step.trouble.html_safe %>
  <% end %>
  <div class="disqus">
    <%= render 'layouts/disqus' %>
  </div>
</div>

<% if @step.try('mixpanel') %>
<script>
  mixpanel.track(@step.mixpanel);
</script>
<% end %>